# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/lf5-code/FileContentIndex/46381046-100e-4d0d-8416-aa3b0031c983.vsidx
/.vs/lf5-code/FileContentIndex/9088c969-f56d-4196-8dcd-a569fd5f22bd.vsidx
/.vs/lf5-code/FileContentIndex/95c6f08b-81ad-4b26-a3b5-a7c4026aba25.vsidx
/.vs/lf5-code/FileContentIndex/9cc206d7-f9bf-41ca-aaf2-28c915a433f5.vsidx
/.vs/lf5-code/FileContentIndex/a5624785-b67f-4778-97ad-07b557683cad.vsidx
/.vs/lf5-code/v17/.wsuo
/.vs/lf5-code/v17/Browse.VC.db
/.vs/lf5-code/v17/DocumentLayout.json
/.vs/lf5-code/v17/ipch/AutoPCH/4f2e7817a3d2ac40/FUNKTIONEN.ipch
/.vs/lf5-code/v17/ipch/AutoPCH/bbed82cacd0ec2e0/PROGRAMM.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Rekursion/.vs/lf5-rekursion/FileContentIndex/1f66d563-0cf4-4f6c-9588-b14b664bfb75.vsidx
/Rekursion/.vs/lf5-rekursion/FileContentIndex/30bbc971-3112-4f5a-9f0e-85ff97edd957.vsidx
/Rekursion/.vs/lf5-rekursion/FileContentIndex/61bfd017-1f3d-4453-b82b-fca8c0541c33.vsidx
/Rekursion/.vs/lf5-rekursion/FileContentIndex/63bd1e95-3279-43f2-b74b-8b946db07159.vsidx
/Rekursion/.vs/lf5-rekursion/FileContentIndex/eae537b2-7151-42df-8988-252a4f8c8204.vsidx
/Rekursion/.vs/lf5-rekursion/v17/.suo
/Rekursion/.vs/lf5-rekursion/v17/Browse.VC.db
/Rekursion/.vs/lf5-rekursion/v17/Browse.VC.db-shm
/Rekursion/.vs/lf5-rekursion/v17/Browse.VC.db-wal
/Rekursion/.vs/lf5-rekursion/v17/Browse.VC.opendb
/Rekursion/.vs/lf5-rekursion/v17/DocumentLayout.json
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/228b1c83f5121695/REKURSIVE_FUNKTIONEN.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/29663f71ddfbadfe/KONSOLENAUSGABE.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/47df183a3b4c8bf0/FUNKTIONEN.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/58b4c14ca359f96c/FUNKTIONEN.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/5ebe50fbc05036dc/PROGRAMM.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/83a445139a7d323/KONSOLENAUSGABE.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/9061533ff8566509/FUNKTIONEN.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/9b75fa4454fef53d/PROGRAMM.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/a1172bc9f9b5e6f0/PROGRAMM.ipch
/Rekursion/.vs/lf5-rekursion/v17/ipch/AutoPCH/ac13799a3d9103/REKURSION_AUFGABEN_1.ipch
/Rekursion/.vs/lf5-rekursion/v17/Solution.VC.db
/Rekursion/Debug/lf5-rekursion.pdb
/Rekursion/Funktionen.cpp
/Rekursion/Funktionen.h
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.log
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/CL.command.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/CL.read.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/CL.write.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/lf5-rekursion.lastbuildstate
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link-cvtres.read.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link-cvtres.write.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link-rc.read.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link-rc.write.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link.command.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link.read.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/link.write.1.tlog
/Rekursion/lf5-rekursion/Debug/lf5-rekursion.tlog/unsuccessfulbuild
/Rekursion/lf5-rekursion/Debug/vc143.idb
/Rekursion/lf5-rekursion/Debug/vc143.pdb
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.log
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/CL.command.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/CL.read.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/CL.write.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/lf5-rekursion.lastbuildstate
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link-cvtres.read.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link-cvtres.write.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link-rc.read.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link-rc.write.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link.command.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link.read.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link.read.2.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/link.write.1.tlog
/Rekursion/lf5-rekursion/x64/Debug/lf5-rekursion.tlog/unsuccessfulbuild
/Rekursion/lf5-rekursion/x64/Debug/vc143.idb
/Rekursion/lf5-rekursion/x64/Debug/vc143.pdb
/Rekursion/lf5-rekursion.sln
/Rekursion/lf5-rekursion.vcxproj
/Rekursion/lf5-rekursion.vcxproj.filters
/Rekursion/lf5-rekursion.vcxproj.user
/Rekursion/Programm.cpp
/Rekursion/rekursion_aufgaben_1/rekursion_aufgaben_1.vcxproj
/Rekursion/rekursion_aufgaben_1/rekursion_aufgaben_1.vcxproj.filters
/Rekursion/rekursion_aufgaben_1/rekursion_aufgaben_1.vcxproj.user
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/CL.command.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/Cl.items.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/CL.read.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/CL.write.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/link.command.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/link.read.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/link.secondary.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/link.write.1.tlog
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursio.b8e56d38.tlog/rekursion_aufgaben_1.lastbuildstate
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursion_aufgaben_1.exe.recipe
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursion_aufgaben_1.ilk
/Rekursion/rekursion_aufgaben_1/x64/Debug/rekursion_aufgaben_1.log
/Rekursion/rekursion_aufgaben_1/x64/Debug/vc143.idb
/Rekursion/rekursion_aufgaben_1/x64/Debug/vc143.pdb
/Rekursion/x64/Debug/lf5-rekursion.pdb
/Rekursion/x64/Debug/rekursion_aufgaben_1.pdb
